{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{{ url_for('pages.setup') }}">
        <label for="login_name">登录名</label>
        <input id="login_name" name="login_name" type="text" value="">
        <label for="nickname">显示名</label>
        <input id="nickname" name="nickname" type="text" value="">
        <label for="password">密码</label>
        <input id="password" name="password" type="password" value="">
        <label for="confirm_password">确认密码</label>
        <input id="confirm_password" name="confirm_password" type="password" value="">
        <input type="submit" value="submit">
    </form>
{% endblock %}